<h2>Bem Vindo ao TransportUno</h2><br />
<p>O <strong>TransportUno</strong> &eacute; um jogo de cartas baseado no Uno, que auxilia numa melhor compreensão da camada de transporte na disciplina de redes. O foco do jogo &eacute;, de maneira din&acirc;mica, mostrar e ajudar o aluno a compreender o protocolo da camada de transporte, TCP.</p><br /><br />
